<!--The content below is only a placeholder and can be replaced.-->
<div class="app" *ngIf="!sended">
  <div class="header">
    <p>Напишите нам</p>
  </div>
  <div class="header second"></div>

  <form [formGroup]="myForm" (submit)="onSubmit()" autocomplete="off">
    <div class="field" id="name">
      <label for="name">Ваше имя:</label>
      <input type="text" formControlName="name" class="entry-field" />
      <div class="error">
        <div *ngIf="isControlInvalid('name')">
          Имя должно состоять только из букв
        </div>
      </div>
    </div>

    <div class="field" id="email">
      <label for="email">Ваш Email: </label>
      <input type="text" formControlName="email" class="entry-field" />
      <div class="error">
        <div *ngIf="isControlInvalid('email')">
          Не корректный email
        </div>
      </div>
    </div>

    <div class="field" id="phone">
      <label for="phone">Ваш телефон:
      </label>
      <input type="text" formControlName="phone" class="entry-field" prefix="+7 " mask="(000) 000-00-00" />
      <div class="error">
        <div *ngIf="isControlInvalid('phone')">
          Не корректный телефон
        </div>
      </div>
    </div>

    <div class="field" id="subject">
      <label for="subject">Тема:</label>
      <select formControlName="subject" class="entry-field" ngInit>
        <option *ngFor="let subject of subjects" [ngValue]="subject" [selected]="subject == subjects[0]">
          {{ subject.name }}
        </option>
      </select>
      <div class="error"></div>
    </div>

    <div class="field" id="message">
      <label for="message">
        Ваше <br> сообщение:
      </label>
      <textarea rows="5" cols="20" formControlName="message" class="entry-field"></textarea>
      <div class="error">
        <div *ngIf="isControlInvalid('message')">
          Введите сообщение
        </div>
      </div>
    </div>

    <div class="field" id="captcha">
      <label for="captcha">
        Цифры:
      </label>
      <input type="text" formControlName="captcha" class="entry-field" mask="00000" />
      <div class="image"></div>
      <div class="error">
        <div *ngIf="isControlInvalid('captcha')">
          Не верно
        </div>
      </div>
    </div>

    <div class="field">
      <button type="submit" class="entry-field">Отправить письмо!</button>
    </div>

  </form>
</div>

<div class="app" *ngIf="sended">
  <div class="field">
    <b>Имя: </b>
      {{this.data.contact.name }}
  </div>
  <div class="field">
      <b>Почта: </b>
      {{this.data.contact.email}}
  </div>
  <div class="field">
      <b>Телефон: </b>
      {{this.data.contact.phone}}
  </div>
  <div class="field">
      <b>Тема: </b>
      {{this.data.subject.name }}
  </div>
  <div class="field">
      <b>Сообщение: </b>
      {{this.data.text}}
  </div>

</div>